@use "variables" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &-primary {
    color: $white;
    background-color: $indigo-600;
    &:hover:not(:disabled) {
      background-color: $indigo-700;
    }
  }

  &-secondary {
    color: $gray-700;
    background-color: $white;
    border-color: $gray-300;
    &:hover:not(:disabled) {
      background-color: $gray-50;
    }
  }
}
